<mat-toolbar color="primary">Keep
	<span class="fill-remaining-space"></span>
	<div>
		<i *ngIf="isNoteView" class="material-icons button-pointer" (click)='switchToListView()'>view_list</i>
		<i *ngIf="!isNoteView" class="material-icons button-pointer" (click)='switchToNoteView()'>view_quilt</i>
		<span>&nbsp;&nbsp;</span>
		<button id="btnLogout" mat-raised-button color="warn" *ngIf="isAuthenticated" (click)='logout()'>Logout</button>
		<button id="btnLogin" mat-raised-button color="accent" *ngIf="!isAuthenticated" (click)='login()'>Login</button>
	</div>
</mat-toolbar>
